/*-----------------------------GENERAL STYLES-----------------------------*/
@font-face {
  font-family: 'CustomFont';
  src: url('./assets/custom.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: black;
  --secondary: rgb(132,105,159);
  --tertiary: rgba(49, 52, 61, 1);
  --dark: rgba(28, 29, 33, 1);

}

* {
  box-sizing: border-box;
}

section {
  padding: 20px;
  margin: 0;
}

#about-container,
#portfolio,
#contact-container,
#resume {
  padding-top: 60px;
}



body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--primary);
  background-color: var(--light);
  line-height: 1.5;
}

h2 {
  font-size: 30px;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--secondary);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: var(--secondary);
  }

  button {
    background-color: #f9f9f9;
  }
}



/*-----------------------------SCROLLBAR-----------------------------*/
::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: var(--secondary); 
  border-radius: 10px; 
}

/*-----------------------------END SCROLLBAR-----------------------------*/




h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 15px;
}

p {
  font-size: 1.2rem;
  color: black;
  max-width: 700px;
  margin: 0 auto;
}




